/* FOOTER */
footer{
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    position: fixed;
    bottom: 0px;  
    background-color: $primary-color;

    .footer-link {
        margin: 0 10px;
        font-size: 0.9em;
    }

    @include tablet-only {
        flex-direction: column;
    }
}