/* FOOTER */
.footer-page{
    height: 35px;
    width: 100%;
    margin-top: $margin-structure-page;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0px;  
    background-color: $primary-color;

    &__item {
        margin: 0 10px;
    }
}