/* HEADING PAGE */
.header-page {
    background-color: $primary-color;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .header-link {
        font-weight: bolder;
        font-size: 2em;
    }
}
