/* HEADING PAGE */
.header-page {
    background-color: $primary-color;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: auto;
    & > h1 {
        //text-align: center;
        font-weight: bolder;
        font-size: 35px;
    }
}
