/* HEADING PAGE */
header {
    background-color: $primary-color;
    min-height: 10.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-structure-page;
    .header-link{
        font-size: 3em;
        font-weight: bold;
    }
}
