/* MAIN PAGE */
.main-page{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    margin: auto;
    max-width: 500px;

    @include tablet-only {
        margin: 0;
        max-width: 100%;
    }
}