/* MAIN PAGE */
.main-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    padding: 20px;
    @include tablet-only {
        flex-direction: column;
        width: 100%;     
    }
}