/* MAIN PAGE */
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* MENU AND BTN*/
@import "../components/menu";
@import "../components/card.scss";