/* RESET PROPERTIES */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, u, i, center, ol, ul, li, article, aside,
footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}

p {
  font-size: 0.75em;
}

/* END OF RESET */
html, body {
  font-family: "Monserrat", sans-serif;
  color: #fdcb46;
  margin: auto;
}

/* HEADING PAGE */
.header-page {
  background-color: #579c87;
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-page > .header-link {
  font-weight: bolder;
  font-size: 2em;
}

/* MAIN PAGE */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* MENU AND BTN*/
.menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 599px) {
  .menus {
    flex-direction: column;
    width: 100%;
  }
}
.menus-item {
  width: calc(50% - 30px);
  height: 195px;
  box-shadow: 0px 0px 5px 2px #ededed;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menus-item > .item-preview {
  margin-bottom: 10px;
}
.menus-item > .item-link {
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
}
.menus-item--enchanted {
  font-family: "Devonshire", sans-serif;
  background-color: #fcdfdb;
  color: #3c1319;
}
.menus-item--enchanted > .item-logo {
  margin-bottom: 0;
  max-width: 15px;
}
.menus-item--enchanted > .item-logo img {
  width: 100%;
}
.menus-item--frenchy {
  font-family: "Croissant one", cursive, sans-serif;
  background-color: #fff5fe;
  color: #ca7411;
}
.menus-item--frenchy > .item-link {
  font-family: "Croissant one", cursive, sans-serif;
}
.menus-item--frenchy > .item-preview {
  background-image: linear-gradient(90deg, #ca7411, #8865dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus-item--tasty {
  font-family: "Dancing Script", cursive, sans-serif;
  background-color: #f9f9f9;
  color: #0f86ee;
}
.menus-item--tasty > .item-preview {
  background-image: linear-gradient(90deg, #16338f, #138dfa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus-item--palet {
  font-family: "Kaushan Script", cursive, sans-serif;
  background-color: #fdfffd;
  color: #71c259;
}
.menus-item--palet > .item-preview {
  background-image: linear-gradient(90deg, #47a044, #c0fc80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.menu__title {
  margin-bottom: 2%;
  border: 1px solid red;
}
.menu__content {
  box-shadow: 0px 0px 5px 2px #ededed;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu__content--enchanted {
  font-family: "Devonshire", sans-serif;
  background-color: #fcdfdb;
  color: #3c1319;
}
.menu__content-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.menu__content-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
}
.menu__content-footer {
  border: 1px solid black;
}

.card {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}
.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-heading-bar--reversed {
  transform: scaleX(-1);
  width: 30%;
}
.card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-top: 2%;
}
.card-content-desc {
  width: 70%;
  font-size: 1em;
}
.card-content-price {
  width: 30%;
}

.btn {
  background-color: #579c87;
  border-radius: 5px;
  border: none;
  width: 50%;
  height: 30px;
  margin: 15px;
}
.btn > a {
  font-size: 1.5em;
  color: #fdcb46;
}

/* FOOTER */
.footer-page {
  min-height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0px;
  background-color: #579c87;
}
.footer-page-link {
  margin: 0 10px;
  font-size: 0.75em;
}

/*# sourceMappingURL=style.css.map */
