@charset "UTF-8";
/* RESET PROPERTIES */
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Montserrat&display=swap");
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, u, i, center, ol, ul, li, article, aside,
footer, header, menu, nav, section, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
html, body {
  font-family: "Monserrat", sans-serif;
  color: #fdcb46;
}

article, aside, footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}

p {
  font-size: 0.75em;
}

/* END OF RESET */
.navigation {
  display: flex;
  margin: 3% 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-height: 450px;
  height: 450px;
  margin: 3%;
  font-size: 1em;
  opacity: 1;
  transition: font-size 300ms ease-in-out, opacity 300ms ease-in-out;
}
.menu:hover {
  opacity: 0.8;
  font-size: 1.5em;
}
.menu-logo {
  margin-bottom: 0;
  max-width: 50px;
}
.menu-logo img {
  width: 100%;
}
.menu-title {
  margin-bottom: 10px;
}
.menu-link {
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
}
.menu--enchanted {
  background-color: #fcdfdb;
  color: #3c1319;
  font-family: "Devonshire", sans-serif;
  box-shadow: 0px 0px 5px 2px #ededed;
}
.menu--frenchy {
  background-color: #fff5fe;
  color: #ca7411;
  font-family: "Croissant one", cursive, sans-serif;
  box-shadow: 0px 0px 5px 2px #ededed;
}
.menu--tasty {
  background-color: #f9f9f9;
  color: #0f86ee;
  font-family: "Dancing Script", cursive, sans-serif;
  box-shadow: 0px 0px 5px 2px #ededed;
}
.menu--palet {
  background-color: #fdfffd;
  color: #71c259;
  font-family: "Kaushan Script", cursive, sans-serif;
  box-shadow: 0px 0px 5px 2px #ededed;
}
.menu--frenchy > .menu-title {
  background-image: -webkit-gradient(linear, left top, right top, from(#ca7411), to(#8865dd));
  background-image: -o-linear-gradient(left, #ca7411, #8865dd);
  background-image: linear-gradient(90deg, #ca7411, #8865dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--tasty > .menu-title {
  background-image: -webkit-gradient(linear, left top, right top, from(#16338f), to(#138dfa));
  background-image: -o-linear-gradient(left, #16338f, #138dfa);
  background-image: linear-gradient(90deg, #16338f, #138dfa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--palet > .menu-title {
  background-image: -webkit-gradient(linear, left top, right top, from(#47a044), to(#c0fc80));
  background-image: -o-linear-gradient(left, #47a044, #c0fc80);
  background-image: linear-gradient(90deg, #47a044, #c0fc80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
  }
}

.page {
  display: flex;
  flex-flow: row wrap;
  margin: 3%;
  padding: 0 5%;
  font-size: 1.5em;
  justify-content: center;
  color: black;
  font-family: "Segoe Print", sans-serif;
  box-shadow: 0px 0px 5px 2px #ededed;
}
.page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 0;
}
.page-heading > figure {
  width: 70px;
}
.page-heading > figure > img {
  width: 100%;
}
.page-heading > h2 {
  font-size: 2em;
}
.page-body {
  margin-bottom: 3%;
}
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Devonshire", sans-serif;
}
.page-footer figure {
  width: 25px;
}
.page-footer figure > img {
  width: 100%;
}
.page--enchanted {
  background-color: #fcdfdb;
}
.page--enchanted .page-heading, .page--enchanted .page-footer {
  font-family: "Devonshire", sans-serif;
}
.page--frenchy {
  background-color: #fff5fe;
}
.page--frenchy .page-heading, .page--frenchy .page-footer {
  font-family: "Croissant one", cursive, sans-serif;
}
.page--frenchy {
  font-family: "Montserrat";
}
.page--frenchy .page-heading {
  background-image: -webkit-gradient(linear, left top, right top, from(#ca7411), to(#8865dd));
  background-image: -o-linear-gradient(left, #ca7411, #8865dd);
  background-image: linear-gradient(90deg, #ca7411, #8865dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page--tasty {
  background-color: #f9f9f9;
}
.page--tasty .page-heading, .page--tasty .page-footer {
  font-family: "Dancing Script", cursive, sans-serif;
}
.page--tasty .page-heading {
  background-image: -webkit-gradient(linear, left top, right top, from(#16338f), to(#138dfa));
  background-image: -o-linear-gradient(left, #16338f, #138dfa);
  background-image: linear-gradient(90deg, #16338f, #138dfa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page--palet {
  background-color: #fdfffd;
}
.page--palet .page-heading, .page--palet .page-footer {
  font-family: "Kaushan Script", cursive, sans-serif;
}
.page--palet .page-heading {
  background-image: -webkit-gradient(linear, left top, right top, from(#47a044), to(#c0fc80));
  background-image: -o-linear-gradient(left, #47a044, #c0fc80);
  background-image: linear-gradient(90deg, #47a044, #c0fc80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .page {
    font-size: 1em;
    white-space: nowrap;
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
  line-height: 15px;
}
.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}
.card-heading h3 {
  text-align: center;
  display: block;
  font-size: 1.1em;
  white-space: nowrap;
}
.card-heading h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
  background: black;
}
.card-heading h3:hover::after {
  transform: scaleX(1);
}
.card-heading__bar > img {
  display: flex;
  align-items: center;
  width: 100%;
}
.card-heading__bar--reversed {
  transform: scaleX(-1);
}
.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3%;
}
.card-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  margin-top: 2%;
}
.card-content__desc {
  width: 89%;
}
.card-content__price {
  width: 11%;
  font-weight: bold;
}
.card-content__price:after {
  content: "€";
}
@media screen and (max-width: 768px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }
  .card-content__desc {
    text-align: center;
  }
}
.card--orange {
  color: #c67412;
}
.card--orange h3::after {
  background: #c67412;
}
.card--purple {
  color: #a56799;
}
.card--purple h3::after {
  background: #a56799;
}
.card--blue {
  color: #6e4ccc;
}
.card--blue h3::after {
  background: #6e4ccc;
}

.btn {
  background-color: #579c87;
  border-radius: 5px;
  height: 50px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn > a {
  font-size: 1.5em;
  color: #fdcb46;
}
@media screen and (max-width: 768px) {
  .btn {
    width: 90%;
    margin-bottom: 5%;
  }
}

@keyframes formation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dot {
  animation: formation 3s backwards infinite;
}
.dot--first {
  animation-delay: 300ms;
}
.dot--second {
  animation-delay: 600ms;
}
.dot--third {
  animation-delay: 900ms;
}

/* HEADING PAGE */
header {
  background-color: #579c87;
  min-height: 10.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
header .header-link {
  font-size: 3em;
  font-weight: bold;
}

/* MAIN PAGE */
main {
  margin: auto;
  padding-bottom: 3%;
  max-width: 1000px;
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
    max-width: 100%;
  }
}

@keyframes move {
  0% {
    transform: translate(5px, 0px) rotate(6deg);
  }
  50% {
    transform: translate(-5px, 0px) rotate(-5deg);
  }
  100% {
    transform: translate(5px, 0px) rotate(5deg);
  }
}
/* FOOTER */
footer {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  background-color: #579c87;
}
footer > .footer-page__link {
  margin: 0 25px;
  font-size: 1.2em;
}
footer > a:hover {
  animation: move 500ms;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
