$breakpoints: (
    mobile: 432px,
    tablet: 768px
);

$menus: (
    enchanted: (
        bckg-c: $enchanted-background-color,
        font: $enchanted-font-family,
        font-color: $enchanted-color
    ),
    frenchy : (
        bckg-c: $frenchy-background-color,
        font: $frenchy-font-family,
        font-color: $frenchy-color
    ),
    tasty: (
        bckg-c: $tasty-background-color,
        font: $tasty-font-family,
        font-color: $tasty-color
    ),
    palet: (
        bckg-c: $palet-background-color,
        font: $palet-font-family,
        font-color: $palet-color
    )
);