.btn{
    background-color: $primary-color;
    border-radius: 5px;
    height: 50px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;   
    & > a {
        font-size: 1.5em;
        color: $secondary-color;
    }

    @include tablet-only {
        width: 90%;
        margin-bottom: 5%;
    }
}