.card{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;

    &-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: none;
        &__bar{
            flex: 1;
        }
        &__bar > img {
            width: 80%;
        }
        &__bar--reversed{
            transform:scaleX(-1);
        }
    }
    &-body {
        display: flex;
        flex-direction: column;
    }
    &-content {

        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin-top: 2%;

        &__desc{
            width: 90%;
        }
        &__price{
            width: 10%;
        }
        &__price:after {
            content: "€";
        }
    }
}