.card{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;

    &-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: none;
        &__bar {
            flex: 1;
        }
        &__bar > img {
            width: 80%;
        }
        &__bar--reversed{
            transform:scaleX(-1);
        }
        border: 1px dotted red;
    }
    &-body {
        display: flex;
        flex-direction: column;
        border: 1px dotted purple;
    }
    &-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin-top: 2%;

        &__desc{
            width: 90%;
        }
        &__price{
            width: 10%;
        }
        &__price:after {
            content: "€";
        }
    }
}