.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: none;
        &__bar{
            flex: 1;
            border: 1px dotted purple;
        }
        &__bar > img {
            width: 100%;
        }
        &__bar--reversed{
            transform:scaleX(-1);
        }
    }
    &-content{
        border: 1px dotted purple;
        display: flex;
        flex-direction: row;
        
        margin-bottom: 2%;
        margin-top: 2%;
        &__desc{
            width: 70%;
        }
        &__price{
            width: 30%;
        }
        &__price:after {
            content: "€";
        }
    }
}