.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    max-height: 450px;
    height: 450px;
    margin: $margin-structure-page;
    font-size: 1.3em;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);
    transition:
        font-size 300ms ease-in-out,
        opacity 300ms ease-in-out;

    @each $name, $value in $menus{
        &--#{$name}{
            background-color: map-get($value, bckg-c);
            color: map-get($value, font-color);
            & > .menu-link {
                font-family: 'Kalam', cursive;
                margin-top: 10%;
            }

            @if ($name == "enchanted") {
                & > .menu-title {
                    font-family: map-get($value, font);
                }
            }@else if ($name == "frenchy") {
                font-family: map-get($value, font);
                & > .menu-title {
                    @include gradient(90deg, #ca7411, #8865dd);
                }
                & > .menu-link {
                    font-family: map-get($value, font)
                }
            }@else if ($name == "tasty") {
                font-family: map-get($value, font);
                & > .menu-title {
                    @include gradient(90deg, #16338f, #138dfa);
                }
            }@else if ($name == "palet") {
                font-family: map-get($value, font);
                & > .menu-title {
                    @include gradient(90deg, #47a044, #c0fc80);
                }
            }
        }
    }
    &:hover {
        opacity: 0.5;
        font-size: 1.5em;
    }
    &-logo {
        margin-bottom: 0;
        max-width: 50px;
        & img{
            width: 100%;
        }
    }
    @include tablet-only {
        width: 100%;
    }
}