.menu-card{

    /*DEFINITION GENERAL DE L'ELEMENT MENU-CARD */
    width: 180px;
    height: 210px;
    box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);//on applique une ombre sur les blocs
    margin: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
        margin-bottom: 0;
        max-width: 15px;
        & img{
            width: 100%;
        }
    }
    &__title {
        margin-bottom: 10px;
    }
    &__link {
        font-family: 'Segoe Print', sans-serif;
        font-weight: bold;
    }
    
    //MENU-CARD ENCHANTED
    &--enchanted {
        @include typography($enchanted-font-family, $enchanted-background-color, $enchanted-color);
    }

    //MENU-CARD FRENCHY
    &--frenchy {
        @include typography($frenchy-font-family, $frenchy-background-color, $frenchy-color);
        & > .menu-card__title {
            @include gradient(90deg, #ca7411, #8865dd);
        }
        & > .menu-card__link {
            font-family: $frenchy-font-family;
        }
    }

    //MENU-CARD TATSY
    &--tasty {
        @include typography($tasty-font-family, $tasty-background-color, $tasty-color);
        & > .menu-card__title {
            @include gradient(90deg, #16338f, #138dfa);
        }
    }

    //MENU-CARD PALET
    &--palet {
        @include typography($palet-font-family, $palet-background-color, $palet-color);
        &  > .menu-card__title {
            @include gradient(90deg, #47a044, #c0fc80);
        }
    }
}