.menus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__item {
        //taille des blocs hauteur et largeur
        width: calc(50% - 30px);
        height: 28.5vh;
        
        box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);//on applique une ombre sur les blocs
        margin: $margin-structure-page; // On applique une marge externe
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        & > :last-child{
            margin-top: 15px;
        }

        @include typography($enchanted-font-family, $enchanted-background-color, $enchanted-color);
        & > .item__link {
            font-family: 'Segoe Print', sans-serif;
            font-weight: bold;
        }
        & > .item__logo {
            width: 20px;
        }
        &--frenchy {
            @include typography($frenchy-font-family, $frenchy-background-color, $frenchy-color);
            & > .item__link{
                font-family: $frenchy-font-family;
            }
            & > .item__preview{
                @include gradient(90deg, #ca7411, #8865dd);
            }
        }
        &--tasty {
            @include typography($tasty-font-family, $tasty-background-color, $tasty-color);
            & > .item__preview {
                @include gradient(90deg, #16338f, #138dfa);
            }
        }
        &--palet {
            @include typography($palet-font-family, $palet-background-color, $palet-color);
            &  > .item__preview {
                @include gradient(90deg, #47a044, #c0fc80);
            }
        }
    }
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &__title{
        margin-bottom: 2%;
        border: 1px solid red;
    }
    &__content {
        box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);//on applique une ombre sur les blocs
        width: 100%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        
        &--enchanted{
            @include typography($enchanted-font-family, $enchanted-background-color, $enchanted-color);
        }
    }
    &__content-heading{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2%; 
    }
    &__content-description{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 2%; 
    }
    &__content-footer{
        border: 1px solid black;
    }
}