.page {
    display: flex;
    flex-flow: row wrap;
    margin: $margin-structure-page;
    padding: 0 5%;
    font-size: 1.5em;
    justify-content: center;
    color: black;
    font-family: 'Segoe Print', sans-serif;
    box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);
    
    &-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15% 0;

        & > figure {
            width: 70px;
        }
        & > figure > img {
            width: 100%;
        }
        & > h2 {
            font-size: 2em;
        }

        @include mobile-only {
            & > figure {
                width: 30px;
            }
        }
    }

    &-body{
        margin-bottom: $margin-structure-page;
    }
    &-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: $enchanted-font-family;

        figure {
            width: 25px;
        }

        figure > img {
            width: 100%;
        }

        @include mobile-only {
            margin-bottom: 10%;
        }
    }

    @each $name, $value in $menus{
        &--#{$name}{
            background-color: map-get($value, bckg-c);
            .page-heading, .page-footer {
                font-family: map-get($value, font);
            }
        }
        @if $name == "frenchy" {
            &--#{$name} {
                font-family: "Montserrat";
                .page-heading {
                    @include gradient(90deg, #ca7411, #8865dd);
                }
            }
        }        
        @else if $name == "tasty" {
            &--#{$name} {
                .page-heading {
                    @include gradient(90deg, #16338f, #138dfa);
                }
            }
        }
        @else if $name == "palet" {
            &--#{$name} {
                .page-heading {
                    @include gradient(90deg, #47a044, #c0fc80);
                }
            }
        }

    }

    @include tablet-only {
        font-size: 1em;
        white-space: nowrap;

    }
    @include mobile-only {
        font-size: 1em;
        white-space: normal;
        &-heading {
            white-space: nowrap;
            font-size: 0.7em;
        }
    }
}


