.page {
    display: flex;
    flex-flow: row wrap;
    margin: $margin-structure-page;
    padding: $margin-structure-page;
    font-size: $font-size-site;
    justify-content: center;
    color: black;
    font-family: 'Segoe Print', sans-serif;
    box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);
    
    &-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $margin-structure-page;
        font-family: $enchanted-font-family;
    }
    &-body{
        margin-bottom: $margin-structure-page;
    }
    &-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: $enchanted-font-family;

        figure {
            width: 25px;
        }

        figure > img {
            width: 100%;
        }
    }

    @each $name, $value in $menus{
        &--#{$name}{
            background-color: map-get($value, bckg-c);
            .page-heading, .page-footer {
                font-family: map-get($value, font);
            }
        }
        @if $name == "frenchy" {
            &--#{$name} {
                .page-heading {
                    @include gradient(90deg, #ca7411, #8865dd);
                }
            }
        }
    }

    @include tablet-only {
        font-size: 0.85em;
    }   
}


