// COLORS
$primary-color: rgb(87, 156, 135);
$secondary-color: rgb(253, 203, 70);

//FONT FAMILLY

$enchanted_menu_family: 'Devonshire', sans-serif;
$frenchy_menu_family: 'Croissant one', cursive, sans-serif;
$tasty_menu_family: 'Dancing Script', cursive, sans-serif;
$palet_menu_family: 'Kaushan Script', cursive, sans-serif;

//MARGIN

$margin_structure_page: 15px;