// COLORS
$primary-color: rgb(87, 156, 135);
$secondary-color: rgb(253, 203, 70);

// BACKGROUND COLOR FAMILY
$enchanted-background-color: rgb(252,223,219);
$frenchy-background-color: rgb(255,245,254);
$tasty-background-color: rgb(249,249,249);
$palet-background-color: rgb(253,255,253);

// COLOR FAMILY
$enchanted-color: #3c1319;
$frenchy-color: #ca7411;
$tasty-color: #0f86ee;
$palet-color: #71c259;

//FONT FAMILLY
$enchanted-font-family: 'Devonshire', sans-serif;
$frenchy-font-family: 'Croissant one', cursive, sans-serif;
$tasty-font-family: 'Dancing Script', cursive, sans-serif;
$palet-font-family: 'Kaushan Script', cursive, sans-serif;

//MARGIN
$margin-structure-page: 3%;

//TAILLE
$font-size-site : 1.5em;